<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
    <link href="../Index.css" rel="stylesheet" type="text/css"/>
    <title>Archive</title>
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <button class="navbar-toggler" data-target="#Navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="http://localhost:8082/home"><img height="30" src="../logo.png" width="30"></a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="http://localhost:8082/home"><span><i class="fa fa-home fa-lg"></i></span> Home</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8082/profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8082/upload">Upload</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8082/users">Users</a></li>
                <li class="nav-item active"><a class="nav-link" href="http://localhost:8082/home/archive">Archive</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8082/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1>Image Archive</h1>
            </div>
            <div class="col-12 col-sm align-self-center">
                <p>Take a look at some of the uploads on the site!</p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row row-content align-items-center">
        <% for(var i = 0; i < uploads.length; i++) { %>
            <div class="col col-md-4 col-sm-6">
                <!--<div >-->
                    <!--&lt;!&ndash;this part works&ndash;&gt;-->
                    <!--<button onclick="getTotalLikes()" class="btn-warning">Like</button>-->
                    <!--<button class="btn-warning">Comment</button>-->
                <!--</div>-->
                <img src="../uploads/<%= uploads[i].filename %>" alt="<%= uploads[i].filename %>" width="200" height="200">
                <div><br></div>
            </div>

            <div class="col col-md-8 col-sm-6">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">Image Name</th>
                        <td style="width: 75%"><a href="http://localhost:8082/image/<%= uploads[i].filename %>"><%= uploads[i].filename %></a></td>
                    </tr>
                    <tr>
                        <th scope="row">User</th>
                        <td><a href="http://localhost:8082/profile/<%= uploads[i].username %>"><%= uploads[i].username %></a></td>
                    </tr>
                    <tr>
                        <th scope="row">Likes</th>
                        <td><%= uploads[i].totalLikes %></td>
                    </tr>
                    <tr>
                        <th scope="row">Comments</th>
                        <td><%= uploads[i].totalComments %></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <% } %>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-1 col-sm-8">
                <h3>Our Address</h3>
                <address>
                    The IMG Shop<br>
                    Picture Place<br>
                    Dublin 1<br>
                    IRELAND<br>
                    <i class="fa fa-phone fa-sm"></i>: +123456789<br>
                    <i class="fa fa-envelope fa-sm"></i>: <a href="mailto:theimgshop@email.com">theimgshop@email.com</a>
                </address>
            </div>
            <div class="col">
                <h3>Links</h3>
                <ul class="list-unstyled">
                    <li><a href="http://localhost:8082/home">Home</a></li>
                    <li><a href="http://localhost:8082/profile">Profile</a></li>
                    <li><a href="http://localhost:8082/upload">Upload</a></li>
                    <li><a href="http://localhost:8082/users">Users</a></li>
                    <li><a href="http://localhost:8082/home/archive">Archive</a></li>
                    <li><a href="http://localhost:8082/logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p>© Copyright 2019 The IMG Shop, Picture Place, Dublin 1, IRELAND</p>
            </div>
        </div>
    </div>
</footer>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../ajax.js" ></script>
</html>